@{
    ViewData["Title"] = "Home Page";
}

<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div>
    <p style="padding-left: 20px; font-family:Arial; font-weight: 600; font-size: 25px;">Hello World</p>
</div>
